.app{
    height: 100vh;
    display: flex;
    background-color: #020230;
    color: white;
}
.main{
    width: 75%;
    background: linear-gradient(to bottom , rgba(0,0,0,0),#020230), url("./assets/bg.jpg") center;
    display: flex;
    flex-direction: column;

}
.top{
    height: 50%;
    position: relative;
}
.timer{
    height:70px;
    width: 70px;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    left:80px;
}
.bottom{
    height:50%
}
.crorepathi{
    height: 100%;
    width: 100%;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.questions{
    width: 80%;
    text-align: center;
    background: linear-gradient(#100241,black);
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}
.answers{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.answer{
    width: 40%;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 300;
    background: linear-gradient(#0e0124,#220748);
    margin: 0 10px 20px 10px;
    cursor: pointer;

}
.answer:hover,.answer.active{
    background: mediumblue;
}
.answer.correct{
    animation: correct 3s ease forwards;
}
@keyframes correct{
    0%,22%,42%,62%{
        background: mediumblue;
    }
    20%,40%,60%{
        background: linear-gradient(#0e0124,#220748);
    }
    62%,
    100%{
        background: green;
    }
}
.answer.wrong{
    animation: wrong 3s ease forwards;
}
@keyframes wrong{
    0%,22%,42%,62%{
        background: mediumblue;
    }
    20%,40%,60%{
        background: linear-gradient(#0e0124,#220748);
    }
    62%,
    100%{
        background: crimson;
    }
}
.pyramid{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.money-list{
    list-style: none;
    width: 100%;
    padding: 20px;
}
.money-list-item{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}
.money-list-item.active{
    background-color: teal;
}
.money-list-number{
    font-size: 18px;
    font-weight: 100;
    width: 30%;
}
.money-list-amount{
    font-size: 20px;
    font-weight: 300px;
}
.end-text {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }